html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f0f0f0;
}

#drawing {
  display: flex;
  justify-content: center;
  align-items: center;
}
#note {
  background-color: white;
  touch-action: none;
}

#controls {
  position: sticky;
  right: 10px;
  bottom: 10px;
}
