html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f0f0f0;
}

#title,
#controls {
  position: absolute;
}

#title {
  top: 10px;
  left: 10px;
  font-size: 1.5em;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
}

#controls {
  bottom: 50px;
  right: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

#clear,
#undo,
#redo,
#strokeColorPicker {
  justify-self: center;
}

#note {
  background-color: white;
  touch-action: none;
}
