html,
body {
  touch-action: none;
  margin: 0px;
  padding: 0px;
  user-select: none;
}
body {
  background-color: #f0f0f0;
}

#drawing {
  display: flex;
  justify-content: center;
  align-items: center;
}
#note {
  background-color: white;
  user-select: none;
}

#controls {
  position: sticky;
  right: 10px;
  bottom: 10px;
}
